.country {
  background-color: #4369b2;
  color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__flag-wrapper {
    width: 50%;
    padding: 2rem;
  }

  &__flag {
    width: 100%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1rem;
    gap: 0.2rem;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.13em;
  }

  &__details-title {
    background-color: #2d4573;
    padding: 0.5rem;
  }

  &__details-item {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
  }

  &__details-item:nth-child(2n) {
    background-color: #4063a7;
  }

  &__details-item-title {
    text-align: left;
  }

  &__details-item-content {
    text-align: right;
  }
}
