@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background-color: #4369b2;
  line-height: 1.2;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
